@using FleetManager.MAUI.Shared.ListView

<ListView Data=@Yachts>
    <ListTemplate Context="listOfYachts">
        <div class="YachtList">
            <h2 class="YachtList__header">Fleet overview:</h2>
        <ul class="YachtList__wrapper">
            @listOfYachts
        </ul>
        </div>
    </ListTemplate>
    <ItemTemplate Context="yacht">
        <li class="YachtList__item" @key=@yacht @onclick="@(e => SelectActiveYacht(e, yacht))">
            <span class="YachtList__itemIcon" />
            <span class="YachtList__itemName">@yacht.Name</span>
        </li>
    </ItemTemplate>
</ListView>