.YachtList {
    padding: 3rem 3rem 0 3rem;
}

.YachtList__header {
    font-size: 2rem;
    font-weight: bold;
}

.YachtList__wrapper {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.YachtList__item {
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    width: 25%;
    flex: 40%;
    background-color: #aed9e0;
    border: solid 2px #415a77;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.YachtList__item:hover {
    background-color: #8badb3;
    color: #fff;
    transition: all linear .1s;
}

.YachtList__item:hover .YachtList__itemIcon {
    filter: brightness(0) invert(1);
    transition: all linear .1s;
}

.YachtList__item--active {
    background-color: #8badb3;
    border: solid 2px #aed9e0;
    color: #fff;
}

.YachtList__item--active .YachtList__itemIcon {
    filter: brightness(0) invert(1);
    transition: all linear .1s;
}

.YachtList__itemIcon {
    background: url("images/yacht.svg") center no-repeat;
    background-size: cover;
    height: 64px;
    width: 64px;
}

.YachtList__itemName {
    margin-left: 1rem;
    font-size: 2rem;
}