.map {
    min-height: 100%;
    height: 100%;
    padding: 1em;
    margin: 1em 0;
}

.map--backgroundDefault {
    background-color: lightblue;
}

.map--rounded {
    border-radius: 16px;
}

.map--rounded #map {
    border-radius: 8px;
}

#map {
    height: 100%;
}