@page "/"
@using FleetManager.MAUI.Components.Dashboard


<div id="dashboard" class="dashboard">
    <div class="dashboard__widget dashboard__mapWrapper">
        <MapComponent BackgroundColor="#aed9e0" IsRounded="true" />
    </div>
        <div class="dashboard__widget dashboard__listWrapper">
            <YachtList Yachts=@Yachts OnYachtSelected="YachtSelected" />
        </div>
</div>